<!DOCTYPE html>
<html lang="fr" dir="ltr" class="h-100">
  <head>
    <title>EnderBot</title>
    <meta name="title" content="EnderBot" />
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
  </head>
  <body>

    <noscript>
      <h1 class="text-align-center">Vous devez activer JavaScript.</h1>
    </noscript>

    <nav class="navbar navbar-dark">
      <ul class="navbar-items">
        <li class="navbar-item">
          <a href="/">Accueil</a>
        </li>
      </ul>
    </nav>

    <main class="container" id="content">
      <h1>Le bot est en ligne.</h1>
    </main>

  </body>
</html>
