<!DOCTYPE html>
<html lang="fr" dir="ltr" class="h-100">
<head>
  <title>EnderBot</title>
  <meta name="title" content="EnderBot" />
  <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
</head>
<body>

  <noscript>
    <h1 class="text-align-center">Vous devez activer JavaScript.</h1>
  </noscript>

  <navbar></navbar>

  <div id="footer"></div>

  <script type="module" src="/assets/js/index.js"></script>

</body>
</html>
